<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title %></title>
    <link rel="stylesheet" href="about.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <div class="logo">NECHAL</div>
        <nav>
            <ul>
                <li><a href="http://localhost:3000/">Home</a></li>
                <li><a href="http://localhost:3000/about-me">About-me</a></li>
                <li><a href="http://localhost:3000/Tech-Stack">Tech Stack</a></li>
                <li><a href="http://localhost:3000/Projects">Projects</a></li>
                <li><a href="http://localhost:3000/Contact-us">Contact-us</a></li>
            </ul>
        </nav>
        <div class="social-icons">
            <a href="https://github.com/DAHAMILahcen"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/lahcen-dahami-22692428a/"><i class="fab fa-linkedin"></i></a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="about">
                <p class="title">About-me</p>
                <p class="para"> Étudiant passionné dans le domaine du cloud , je suis  intéressé par l'apprentissage des solutions cloud et de l'administration système, mon ambition est de concevoir et d'implémenter des architectures  cloud efficaces et sécurisées. </p>
            </div>
            <!-- education part-->
            <div class="education">
                <div class="title">Education</div>
                <div class="education1">
                    <div class="year">2023-2026</div>
                    <div class="title1">INSTITUT NATIONAL DES POSTES ET TÉLÉCOMMUNICATIONS</div>
                    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam reiciendis eius enim repudiandae saepe sequi possimus dolor, eveniet repellat voluptatum, quia vitae molestiae expedita, neque voluptatem! Nostrum repellendus tempora aliquam.</div>
                </div>
                <div class="education1">
                    <div class="year">2021-2023</div>
                    <div class="title1">Classe preparatoire aux grand ecole(CPGE)</div>  
                    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores aspernatur iusto necessitatibus? Quos, veritatis. Suscipit qui voluptatem mollitia! Est libero accusantium sequi doloremque facilis explicabo magni eos, consequatur obcaecati tempore.</div>
                </div>
                <div class="education1">
                    <div class="year">2021</div>
                    <div class="title1">Lycée HASSAN 2</div>
                    <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo dignissimos quidem quasi laboriosam, architecto odit et, temporibus officiis dolore, ea est? Illum ea labore rerum commodi optio deleniti tempore eius.</div>
                </div>
            </div>
            <div class="worksexp">
                <div class="title">Work experience</div>
            </div>
        </div>
    </main>
</body>
</html>
